<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaratBank | Potwierdź logowanie</title>
    <link rel="stylesheet" href="/css/confirmSignin.css">
    <script src="/js/confirmSignin.js" defer></script>
</head>
<body>
    <div id="center">
        <h1>Potwierdź w aplikacji</h1>
        <button onclick="signIn()">Wyślij potwierdzenie</button>
    </div>

    <div id="modal_background"></div>
    <div id="modal">
        <h1>Oczekuję na potwierdzenie w aplikacji.</h1>
        <div class="loader"></div>
    </div>
</body>
</html>