<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaratBank | Strona Główna</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="nav">
        <div class="nav_logo">
            <img src="/imgs/fullLogo.png">
        </div>
        <div class="nav_buttons">
            <div class="button">Przycisk</div>
            <div class="button">Przycisk</div>
            <div class="button">Przycisk</div>
            <div class="button">Przycisk</div>
            <a href="/signin"><div class="button">Zaloguj się</div></a>
        </div>
    </div>
</body>
</html>