<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaratBank | Zaloguj się</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    {{#if notification}}
        <div id="notification">
            {{notification}}
        </div>
    {{/if}}
    
    <div id="container">
        <div id="modal">
            <h1>Zaloguj się</h1>
            <form method="POST" action="/auth/signin">
                <input type="text" name="username" placeholder="Nazwa uzytkownika"><br>
                <input type="password" name="password" placeholder="Hasło"><br>
                <input type="submit" value="Zaloguj się">
            </form>
        </div>
        <div id="signup_modal">
            <div class="content">
                <h1>Nie masz jeszcze konta?</h1>
                <h2>Zeskanuj kod i załóż konto w aplikacji!</h2>
                <img src="/imgs/qr.png">
            </div>
        </div>
    </div>
</body>
</html>