@import url("tools/colors.css");
@import url("tools/navBar.css");

body{
    margin: 0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--background);
}
